---
import Container from "./Container.astro";
import { Accordion, AccordionItem } from 'free-astro-components'
import { getCollection } from 'astro:content';
const faqEntries = await getCollection('faqs');

---

<section>
    <!-- styling start - underline when hovering - currently only underlined when clicking, not when hovering?-->
    <style>
        a:hover {
    text-decoration: underline;
}
    </style>
    <!-- styling end -->
    
    <Container>
        <div class="mb-12 lg:w-2/3 text-center mx-auto">
            <h3 class="text-[#2077C2] text-sm sm:text-base  mb-6 sm:mt-32 mt-16  font-bold">DU HAST FRAGEN ZU BEACHVOLLEY ZÜRICH?</h3>
            <h1 class="text-gray-900 dark:text-white font-bold text-4xl sm:text-3xl md:text-4xl">Frequently Asked Questions</h1>
        </div>
        <div class="p-[--card-padding] overflow-hidden xlg:aspect-video flex rounded-[--card-border-radius] bg-gray-100 dark:bg-[--card-dark-bg]">
            <div class="mt-12 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
                <Accordion>

                  {faqEntries.map(faqEntry => (
                    <AccordionItem name="accordion" title={faqEntry.data.question}>
                    {faqEntry.body}
                    </AccordionItem>
                  ))}
                    
                    
                </Accordion>

            </div>
        </div>
        <!-- 2 grid start -->
        <div class="mt-12 grid sm:grid-cols-2 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
        </div>
        <!-- 2 grid end -->
    </Container>
</section>
