---
import BrandLogo from "./BrandLogo.astro";
import Container from "./Container.astro";
import LanguagePicker from '@components/LanguagePicker.astro';

---
<header>
    <nav class="absolute z-50 w-full lg:bg-transparent dark:lg:bg-transparent">
        <Container>
            <div class="relative flex flex-wrap items-center justify-between py-3 md:gap-0 md:py-8 lg:py-8">
                <div class="relative z-20 flex w-full items-center justify-between md:px-0 lg:w-max">
                    <BrandLogo />
                </div>
                <div>
                    <LanguagePicker />
                </div>
            </div>
        </Container>
    </nav>
</header>