---
import { cn } from "@lib/utils"
import Container from "./Container.astro"
import {button} from "@tailus/themer-button"
import { getEntry } from 'astro:content';
const heroEntry = await getEntry('hero','de/titlepage');

---



<section class="relative overflow-hidden scroll-mt-24" id="home">  
    <div
        aria-hidden
        class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      />
    <Container>
        <div class="relative pt-32 sm:pt-44 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl">Beach<span class="text-[#2077C2]">volleyball</span> für Zürich</h1>
                <p class="max-w-xl mx-auto mt-8 text-gray-700 dark:text-gray-300">
                {heroEntry.body}
                 </p>
                 <p class="mt-6">
                  {heroEntry.data.teaser}
                 </p>
                  <div class=" mt-12 flex flex-wrap justify-center" >
                    <!-- button start -->
                    <a href="" target="_blank" class={cn(button.primary.lg, "relative z-[1] bg-[#2077C2]")}>
                      {heroEntry.data.buttontext}
                    </a>
                    <!-- button end -->
                  </div>
            </div>
        </div>
    </Container>
</section>
