---
import Layout from '../../layouts/Layout.astro';
import Container from "../../components/Container.astro"
---


<Layout title="Beachvolley Zurich">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<section class="relative overflow-hidden scroll-mt-24" id="account">  
            <Container>
                <div
                aria-hidden
                class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
              />
              <div class="relative pt-32 sm:pt-44 ml-auto">
                <div class="lg:w-full text-left mx-auto">
                    <h1 class="text-xl py-2">Mein Beachvolley Zürich</h1>                                    
                </div>
            </div>
        </section>
    </main>
</Layout>
